*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

}
.header{
    background-color: rgba(6, 20, 32, 1);
    display: flex;

}
.header__banner{
    background-image: url(../img/ТРЦ\ _Hollywood_.jpg);
    background-position: center;
    background-size: cover;
}